<div class="wrapper" [ngClass]="{ 'fade': transition && (transition !== video.id), 'enlarge': transition === video.id }">
  <div class="thumbnail-wrapper" [style]="transitionStyle">
    <picture>
      <source *ngFor="let img of video.thumbnails" [media]="'(max-width: ' + img.width + 'px)'" [srcset]="img.url">
      <img [src]="biggestThumbnail" [alt]="video.title" class="thumbnail">
    </picture>
    <div class="title-wrapper">
      <span class="title">{{ video.title }}</span>
      <img class="play-icon" src="assets/img/icons/play_button.svg">
    </div>
  </div>
  <div class="publish-date">Published on {{ video.publishedDate | date }}</div>
  <div class="description">{{ video.description }}</div>
</div>
